body 
{
  /* background: linear-gradient(45deg,#260026 ,#040014); */
  background: linear-gradient(45deg,#08000d ,#040014);
}

.SideMenu
{
  width: 55px;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* background:linear-gradient(#5000ff, #f00); */
  background:linear-gradient(#11001a, #05000e);
  /* box-shadow: 1px 0px 10px black; */
  box-shadow: 1px 0px 10px #a90fef;
  /* allign items vertically centere */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SideMenu img
{
  transition: all .5s;
  /* box-shadow: 0px 0px 3px #000000; */
  box-shadow: 0px 0px 3px #d300ff;
  padding: 5px;
  border-radius: 5px;
  background-color: #24003a98;
  margin-top: 10px;
}

.SideMenu img:hover
{
  cursor: pointer;
  background-color: black;
}

.Container
{
  width: calc(100% - 75px);
  height: 90%;
  top: 5%;
  left: 65px;
  position: absolute;
  background-color:#0000004a;
  border-radius: 5px;
  border: 3px solid #000000;
  overflow-y: scroll;
  display:flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
  flex-wrap: wrap;
}

.Content
{
  margin: 10px;
  display: inline-block;
  min-width: 300px;
  height: 400px;
  background: linear-gradient(#07000b 14%,#07000c 30%);
  border-radius: 15px;
  /* border: 2px solid #00e5ff; */
  box-shadow: 0px 0px 7px #00e5ff;
}

.Content .profilepic
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
  /* border: 3px solid #000000; */
  box-shadow: 0px 0px 5px #00fbff;
}

.Content h2
{
  color: #00bbff;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  margin: 0%;
}

.Content .Tags
{
  width: 100%;
  height: 110px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Content .Tags .Tag
{
  width: max-content;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border:2px solid #00bbff;
  background-color: #05002138;
  color: #00bbff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin: 3px;
}

.Content .Links a
{
  margin: 3px;
}

.Content .Links a img
{
  width:25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  border:2px solid #00bbff;
}

.Content.Tag
{
  width: 150px;
  height: 250px;
  background: linear-gradient(#010004,#07000f 30%);
  box-shadow: 0px 0px 7px #4b06b0;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Content.Tag h2
{
  color: #af00ff;
}

.ModelPanel
{
    position: fixed;
    width: 700px;
    height: 450px;
    background-color: #040011db;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ae00de;
}
.ModelPanel .ProfileImageSection
{
    width: 40%;
    height: 100%;
    display: inline-block;
}
.ModelPanel .ProfileImageSection .ProfileImage
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.ModelPanel .Items
{
    width: 60%;
    height: 100%;
    float:right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ModelPanel .Items input
{
    transition: all .5s ease;
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #c700ff;
    outline: none;
    margin-bottom: 10px;
    background-color: #04001144;
    color: #c700ff;
    text-align: center;
    font-size:large;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.ModelPanel .Items input:focus
{
    box-shadow: inset 0px -10px 5px -5px #ec20ff8a;
}

.ModelPanel .Items .Links
{
    width: 80%;
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ModelPanel .Items .Links .Link
{
    width:calc(100% - 4px);
    height: 30px;
    color: #de66ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background :linear-gradient(45deg,#27004e,#8900c8);
    cursor: pointer;
}

.ModelPanel .Items .Links .Link.Add:hover
{
    background :linear-gradient(45deg,#00ff66,#a508ee);
}

.ModelPanel .Items .Links .Link.Delete:hover
{
    background :linear-gradient(45deg,#ff0400,#a508ee);
}

.ModelPanel .Items button
{
    width: 100px;
    height: 40px;
    border: 2px solid #c800ff;
    border-radius: 10px;
    outline: none;
    background-color: #c800ff25;
    color: #f6c1ffdb;
    font-size: large;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.ModelPanel .Items .Close
{
  position: relative;
  width:40px;
  height: 40px;
  top: -40px;
  right: -180px;
  border: 2px solid #c800ff;
  border-radius: 50%;
}

.ModelPanel .Items button:hover
{
  background-color: #c800ffeb;
}

.ModelPanel .ProfileImageSection .ProfileImage.Add
{
  margin-top: 153px;
  margin-left: 72px;
  width: max-content;
  height: max-content;
}

.ModelSelector
{
  position: fixed;
  width: 500px;
  height: 400px;
  background-color: rgba(10, 0, 17, 0.671);
  border-radius: 15px;
  border: 2px solid rgb(193, 47, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ModelSelector .ModelsArea
{
  width: 95%;
  height: 78%;
  /* background-color: rgba(12, 0, 30, 0.35); */
  border-radius: 15px;
  /* border: 2px solid #8b00ff85; */
  overflow-y: scroll;
  scrollbar-width: none;
}
.ModelSelector button
{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}
.ModelSelector .CloseButton
{
  margin-bottom: 5px;
  border: 2px solid rgb(255, 18, 18);
  background-color: rgba(10, 0, 17, 0.671);
  color: rgb(255, 35, 35);
}
.ModelSelector .AddButton
{
  margin-top: 5px;
  border: 2px solid rgb(0, 255, 157);
  background-color: rgba(10, 0, 17, 0.671);
  color: rgb(0, 255, 157);
}
.ModelSelector .CloseButton:hover
{
  background-color: rgb(255, 18, 18);
  color: black;
}
.ModelSelector .AddButton:hover
{
  background-color: rgb(0, 255, 157);
  color: white;
}
.ModelsArea .Model
{
  width: 100%;
  height: 50px;
  background-color: rgba(18, 1, 45, 0.592);
  border-radius: 20px;
  /* border: 2px solid #8b00ff85; */
}
.ModelsArea .Model:hover
{
  background-color: rgba(12, 0, 30, 0.75);
}
.ModelsArea .Model img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(193, 47, 255);
  margin-left: 5px;
  margin-top: 2px;
  float: left;
}
.ModelsArea .Model div
{
  width:calc(100% - 100px);
  height: 100%;
  margin-left: 10px;
  text-align: left;
  color: blueviolet;
  font-weight: 600;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  line-height: 47px;
  display: inline-block;
}
.ModelsArea .Model input[type="checkbox"]
{
  cursor: pointer;
  scale: 1.5;
}