body 
{
  /* background: linear-gradient(45deg,#260026 ,#040014); */
  background: linear-gradient(45deg,#08000d ,#040014);
}

.SideMenu
{
  width: 55px;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* background:linear-gradient(#5000ff, #f00); */
  background:linear-gradient(#11001a, #05000e);
  /* box-shadow: 1px 0px 10px black; */
  box-shadow: 1px 0px 10px #a90fef;
  /* allign items vertically centere */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SideMenu img
{
  transition: all .5s;
  /* box-shadow: 0px 0px 3px #000000; */
  box-shadow: 0px 0px 3px #d300ff;
  padding: 5px;
  border-radius: 5px;
  background-color: #24003a98;
  margin-top: 10px;
}

.SideMenu img:hover
{
  cursor: pointer;
  background-color: black;
}

.Container
{
  width: calc(100% - 75px);
  height: 90%;
  top: 5%;
  left: 65px;
  position: absolute;
  background-color:#0000004a;
  border-radius: 5px;
  border: 3px solid #000000;
  overflow-y: scroll;
  display:flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
  flex-wrap: wrap;
}

.Content
{
  margin: 10px;
  display: inline-block;
  min-width: 300px;
  height: 400px;
  background: linear-gradient(#07000b 14%,#07000c 30%);
  border-radius: 15px;
  /* border: 2px solid #00e5ff; */
  box-shadow: 0px 0px 7px #00e5ff;
}

.Content .profilepic
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
  /* border: 3px solid #000000; */
  box-shadow: 0px 0px 5px #00fbff;
}

.Content h2
{
  color: #00bbff;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  margin: 0%;
}

.Content .Tags
{
  width: 100%;
  height: 110px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Content .Tags .Tag
{
  width: max-content;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border:2px solid #00bbff;
  background-color: #05002138;
  color: #00bbff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin: 3px;
}

.Content .Links a
{
  margin: 3px;
}

.Content .Links a img
{
  width:25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  border:2px solid #00bbff;
}